.htaccess
/config.php
admin/config.php
salesman/config.php

!index.html

download/*
image/data/*
image/cache/*
image/*
system/cache/*
system/logs/*
system/download/*
system/upload/*

*.swp

.buildpath
.project
.bak